# Ignore .env files
.env


# Ignore only the cache results inside Data
Data/Job-Result-cache/AIEngineer.json
Data/Job-Result-cache/Designer.json
Data/Job-Result-cache/Fullstack.json
Data/Job-Result-cache/MobileDeveloper.json
Data/Job-Result-cache/SoftwareEngineer.json

# Ignore cache files
Core/Job-search/__pycache__/*